*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Source Sans Pro", roboto;
	color: #F9FCF1;
	background-color: #505A5B;
}
.home{
	background-image: url('./images/homebg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 15% 0;
}

h1{
	font-size: 60px !important;
}
h2{
	font-size: 50px;
}
#home-header-intro{
	font-size: 20px !important;
	padding: 3rem 0;
}
#projects-button{
	display: inline-block;
	text-decoration: none; 
	letter-spacing: 1px;
	font-weight: bold;
	color: #F9FCF1;
	border: none;
	border-radius: 15px;
	padding: 1rem 5rem;
	background-color: #1E96FC;
}
#about-me{
	padding-bottom: 1%;
}
.knowing-me{
	color: #F9FCF1;
	font-size: 15px;
	text-align: justify;
}
#contact-button{
	display: inline-block;
	text-decoration: none; 
	letter-spacing: 1px;
	font-weight: bold;
	color: #F9FCF1;
	border: none;
	border-radius: 15px;
	padding: 1rem 5rem;
	background-color: #1E96FC;
}
#projects{
	padding: 7% 0;
	background-color:#F9FCF1;
	color:#505A5B;
}
#submit-button{
	display: inline-block;
	text-decoration: none; 
	letter-spacing: 1px;
	font-weight: bold;
	color: #F9FCF1;
	border: none;
	border-radius: 15px;
	padding: 1rem 3rem;
	background-color: #1E96FC;
	margin-top: 2%;
}
#gmap_canvas {
	background:none!important;
	height:70vh;
	width:80%;
}
.socials-logo{
	text-decoration: none;
}
.trademark{
	text-decoration: none;
	color: #F9FCF1;
}
